.contenido
	contenedor()
	margin-bottom 40px
	justify-content: space-evenly
	flex-wrap: wrap

.caja
	max-width 300px
	margin: 15px 0
	a
		img 
			width: 100%
			padding: 5px
	cajasombra()
	&__contenido
		padding: 20px
		background: color-claro
		font-size: 1.4rem
		span
	
			color: color1
			titulo(fuente2)
			
		h3
			titulo(fuente2)
			
