section.intro
    .menu
        h1  MENU
        ul
            each lista in menu
                li
                    a= lista
    .intro_contenido
        h1  titulo principal
        p   Lorem, ipsum dolor sit amet consectetur adipisicing elit. Laborum ut reiciendis aliquam error voluptatem culpa dolor provident sint, perferendis, nihil, odit necessitatibus minus nemo quas! Quos dolore et ratione non.
        p   Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid, officiis quam magni aspernatur obcaecati blanditiis harum nobis doloremque porro inventore vero a laboriosam eligendi numquam tempore beatae fugiat. Ducimus, placeat!

        a.boton(href='#')   VER MAS
        