-var titulos = ['titulo principal','subtitulo','subtitulo 2','sub 3','sub4','sub5']
mixin caja(img, titulo , contenido)
    .caja
        .caja_imagen
              img(src='images/'+img)
        .caja_contenido
            h3=titulo
            p=contenido
-var menu = ['acerca','noticias','contacto']